@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;800&family=Poppins:wght@200;300&display=swap');

.App {
  text-align: center;
  word-wrap: break-word;
  font-family: 'Poppins';
  background-color: snow;
  font-size: 1.2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  background-color: lightblue;
  align-items: center;
  /* display: inline-flex;
  flex-direction: row wrap; */
  margin: 5px;
  padding-top: 25px;
  padding-bottom: 50px;
  border: solid 1px black;
  height: auto;
  width: 98vw;
  font-family: 'Poppins';
}

.welcome-head {
  font-size: 2em;
}

.welcome-message {
  width: 48vw;
  height: auto;
  display: inline-flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
  word-wrap: break-word;
  flex-flow: row wrap;
}

.home-logo {
  width: 35vw;
  height: auto;
  margin-bottom: 5px;
  float: left;
  align-items: center;
  display: flex;
}

.welcome-blurb {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
}

.welcome-closing {
  padding-top: 50px;
  padding-bottom: 10px;
  /* display: flex; */
  /* flex-flow: row wrap; */
}

.carousel {
  align-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  margin: auto;
}

.services {
  word-wrap: break-word;
  width: 46vw;
  display: inline-flex;
  flex-direction: column;
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
}

.service-blurb {
  width: 46vw;
  height: auto;
  word-wrap: break-word;
  text-align: center;
}

.service-pic {
  width: 46vw;
  height: auto;
  display: inline-flex;
  float: left;
}

.img-container {
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.service-container {
  border: 1px solid black;
  display: flex;
  background-color: lightblue;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.nav {
  margin: 0px;
  background-color: lightblue;
  color: black;
  padding: 10px;
  height: 12vh;
  position: sticky;
}

.nav-link {
  color: black;
  padding: 5px;
}

.contact-container {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 10px;
  background-color: lightblue;
  margin: 5px;
  margin-bottom: 5px;
  border: solid 1px black;
}

.contact-greet {
  padding: 20px;
}

.logo {
  display: inline-flex;
  float: left;
  position: relative;
  height: 10vh;
  width: auto;
}

.name {
  font-family: 'Inconsolata';
  font-weight: bold;

  display: inline-flex;
  padding: 5px;
}

.footer {
  padding: 3.5vh;
  font-family: 'Inconsolata';
  font-weight: bold;
}