.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    align-content: center;
}

.item {
    display: inline-flex;
    word-wrap: normal;
    align-items: center;
    color: red;
    width: 100px;
    height: 200px;
    
}

.signal > button.active {
    background-color: red;
    color: green; 
}