.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    align-content: center;
}

.item {
    display: inline-flex;
    align-items: center;
    color: red;
}

.signal > button.active {
    background-color: red;
    color: green; 
}